
* {
    margin: 0%;
    padding: 0%;
    background-color: lightblue;
}

.bar ul li {
    list-style: none;
    overflow: auto;
    display: flex;
    float: left;
    padding: 0vh 23vh 0vh 23vh;
    color: black;
}
.welcome img{
height: 80vh;
width: 250vh;
display: block;
}
.bar h1{
    color:white
}

.box {
    color: white;
     background-image: url(/backgroundhtml.jpg);
    background-size:contain;
}
.box img {
    height: 45vh;
    width: 35vh;
    border-radius: 200px;
    margin: 10vh 10vh 10vh 95vh;
    display:inline-block;

   
}
.intro{
      padding:10px;
      border:10px solid white;
      border-radius: 20px;
       color: black;
}

