.intro-content {
    color:yellow;
    padding-top: 10px;
    display: inline;
    size: 15px;
}
.intro-content h2{
    margin: 0px;
    
}
.intro-content .first{
    margin-top: 350px;
}
.intro-content .field:hover{
    color: black;
    background-color: white;
}