.navigation li{
    list-style: none;
    float: left;
    margin-right: 150px;
    color: white;
    position:sticky;
}
.navigation ul{
    display:inline-block;
}

.navigation li b{
    margin-right: '150px';
}
