.navigation li{
    list-style: none;
    float: left;
    margin-right: 0px;
    color: white;
    position:sticky;
    margin-left: 50px;
}
.navigation ul{
    display:inline-block;
    margin-right: 700px;
    position:fixed;
}

.navigation .image{
    margin-left: 100px;
    position:fixed;
}

.navigation li img{
    margin-left: 1px;
    position:fixed;
}